<widget defaultlocale="zh_CN" id="com.dfocus.datacockpit" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0" defaultLocale="zh_CN">
    <allow-navigation href="aaaa"></allow-navigation>
    <name>
        fmapp
    </name>
    <description>
        范德萨发的说法
    </description>
    <author email="xxx@df.com" href="#">
        xxx
    </author>
    <content src="index.html"></content>
    <access origin="*"></access>
    <allow-intent href="http://*/*"></allow-intent>
    <allow-intent href="https://*/*"></allow-intent>
    <allow-intent href="mailto:*"></allow-intent>
    <allow-intent href="geo:*"></allow-intent>
    <preference key="Orientation" value="default"></preference>
    <preference key="target-device" value="universal"></preference>
    <preference key="FullScreen" value="true"></preference>
    <platform name="android">
        <allow-intent href="market:*"></allow-intent>
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:debuggable="true" android:usesCleartextTraffic="true"></application>
        </edit-config>
        <icon density="xxhdpi" src="res/icon/android/icon-144-xxhdpi.png"></icon>
        <icon density="xxxhdpi" src="res/icon/android/icon-192-xxxhdpi.png"></icon>
        <icon density="ldpi" src="res/icon/android/icon-36-ldpi.png"></icon>
        <icon density="mdpi" src="res/icon/android/icon-48-mdpi.png"></icon>
        <icon density="hdpi" src="res/icon/android/icon-72-hdpi.png"></icon>
        <icon density="xhdpi" src="res/icon/android/icon-96-xhdpi.png"></icon>
        <splash density="land-hdpi" src="res/splash/android/splash-land-hdpi.png"></splash>
        <splash density="land-ldpi" src="res/splash/android/splash-land-ldpi.png"></splash>
        <splash density="land-mdpi" src="res/splash/android/splash-land-mdpi.png"></splash>
        <splash density="land-xhdpi" src="res/splash/android/splash-land-xhdpi.png"></splash>
        <splash density="port-hdpi" src="res/splash/android/splash-port-hdpi.png"></splash>
        <splash density="port-ldpi" src="res/splash/android/splash-port-ldpi.png"></splash>
        <splash density="port-mdpi" src="res/splash/android/splash-port-mdpi.png"></splash>
        <splash density="port-xhdpi" src="res/splash/android/splash-port-xhdpi.png"></splash>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*"></allow-intent>
        <allow-intent href="itms-apps:*"></allow-intent>
        <icon src="res/icon/ios/icon-1024.png" width="1024" height="1024"></icon>
        <icon src="res/icon/ios/icon-20.png" width="20" height="20"></icon>
        <icon src="res/icon/ios/icon-29.png" width="29" height="29"></icon>
        <icon src="res/icon/ios/icon-29@2x.png" width="58" height="58"></icon>
        <icon src="res/icon/ios/icon-29@3x.png" width="87" height="87"></icon>
        <icon src="res/icon/ios/icon-40.png" width="40" height="40"></icon>
        <icon src="res/icon/ios/icon-40@2x.png" width="80" height="80"></icon>
        <icon src="res/icon/ios/icon-50.png" width="50" height="50"></icon>
        <icon src="res/icon/ios/icon-50@2x.png" width="100" height="100"></icon>
        <icon src="res/icon/ios/icon-57@1x.png" width="57" height="57"></icon>
        <icon src="res/icon/ios/icon-57@2x.png" width="114" height="114"></icon>
        <icon src="res/icon/ios/icon-60.png" width="60" height="60"></icon>
        <icon src="res/icon/ios/icon-60@2x.png" width="120" height="120"></icon>
        <icon src="res/icon/ios/icon-60@3x.png" width="180" height="180"></icon>
        <icon src="res/icon/ios/icon-72.png" width="72" height="72"></icon>
        <icon src="res/icon/ios/icon-72@2x.png" width="144" height="144"></icon>
        <icon src="res/icon/ios/icon-76.png" width="76" height="76"></icon>
        <icon src="res/icon/ios/icon-76@2x.png" width="152" height="152"></icon>
        <icon src="res/icon/ios/icon-83.5@2x.png" width="167" height="167"></icon>
        <splash src="res/splash/ios/Default-2436h.png" height="2436" width="1125"></splash>
        <splash src="res/splash/ios/Default-568h@2x~iphone.png" height="1136" width="640"></splash>
        <splash src="res/splash/ios/Default-667h@2x~iphone.png" height="1334" width="750"></splash>
        <splash src="res/splash/ios/Default-736h@3x~iphone.png" height="2208" width="1242"></splash>
        <splash src="res/splash/ios/Default-Landscape-736h@3x~iphone.png" height="1242" width="2208"></splash>
        <splash src="res/splash/ios/Default-Landscape@2x~ipad.png" height="1536" width="2048"></splash>
        <splash src="res/splash/ios/Default-Landscape~ipad.png" height="768" width="1024"></splash>
        <splash src="res/splash/ios/Default-Portrait@2x~ipad.png" height="2048" width="1536"></splash>
        <splash src="res/splash/ios/Default-Portrait~ipad.png" height="1024" width="768"></splash>
        <splash src="res/splash/ios/Default@2x~iphone.png" height="960" width="640"></splash>
        <splash src="res/splash/ios/Default~iphone.png" height="480" width="320"></splash>
        <config-file parent="NSMicrophoneUsageDescription " platform="ios" target="*-Info.plist">
            <string>
                xxxx我们要使用您的相机
            </string>
        </config-file>
        <config-file parent="NSPhotoLibraryUsageDescription" platform="ios" target="*-Info.plist">
            <string>
                use photo
            </string>
        </config-file>
        <config-file parent="NSLocationWhenInUseUsageDescription" platform="ios" target="*-Info.plist">
            <string>
                use location
            </string>
        </config-file>
        <edit-config file="*-Info.plist" mode="merge" target="NSMicrophoneUsageDescription">
            <string>
                use microphone
            </string>
        </edit-config>
    </platform>
</widget>